<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1 id="demo"><%= token   %></h1> -->
   <div class="container">
    <label for="">Enter a new password</label>
    <input id="input"  type="password">
    <button onclick="submitFrom()">submit</button>
   </div>

    <h1 id="success">Password reset successfully :)</h1>
    <h1 id="error"></h1>

    <script>
        let inputTag = document.getElementById('input')
        let headingTag = document.getElementById('demo')
        let container = document.getElementsByClassName('container')[0]
        // console.log(container)
        let successTag = document.getElementById('success')
        let errorTag = document.getElementById('error')

        successTag.style.display = 'none'

        const submitFrom=async()=>{
            // console.log(inputTag.value)
            let token = '<%= token %>'
            let value = inputTag.value
            let obj = {
                newPassword:value
            }
            let res = await fetch(`https://twitterbackend-6xyo.onrender.com/users/reset-password/${token}`,{
                method:"POST",
                headers:{
                    'content-type':'application/json',
                },
                body:JSON.stringify(obj)
            })

            let data = await res.json();
            console.log(data)
            if(data.success){
                container.style.display = "none";
                 successTag.style.display = 'block'
            }
            else{
                container.style.display = "none";
                errorTag.innerHTML = data.msg
            }
            // console.log(token)

            // console.log(headingTag.innerHTML)
        }
    </script>
</body>
</html>